$azullogo:#0B0C1B;
$verdelogo:#2FAC66;
$textwhite: #fff;
$bg: #040509;
$backgroundresponsive : #222;
$colorfootermini: #333333;

// .logo{
//     margin-right: 15px;
//     width: 60px;
//     transition: all 0.5s ease;
// }
// .logo:hover{
//     transform: scale(1.2) rotate(360deg);
// }

@keyframes entradaanim{
    from{
        right: 50%;
    }
    to{
        right: 0%;
    }
}

.custom-shape-divider-top-1647358628 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1647358628 svg {
    position: relative;
    display: block;
    width: calc(161% + 1.3px);
    height: 500px;
}

.custom-shape-divider-top-1647358628 .shape-fill {
    fill: #0B0C1B;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1647358628 svg {
        width: calc(161% + 1.3px);
        height: 500px;
    }
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none !important;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* nav style */
.navbarr{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    top: -10px;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.navbarr.sticky{
    padding: 10px 0;
    background: $azullogo;
}

.navbarr .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarr .logo a{
    align-items: center;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    transition: all 0.5s ease;
}
.navbarr .logo a:hover{
    color: #fff;
}

.navbarr .logo a span:hover{
    color: $verdelogo;
}

.navbarr .menu li{
    list-style: none;
    display: inline-block;
}

.navbarr .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    margin-top: 25px;
    transition: color 0.3s ease;
    transition: all 0.5s ease;
}

.navbarr .menu li a .sticky{
    margin-top: 15px;
    transition: color 0.3s ease;
    transition: all 0.5s ease;
}

.navbarr .menu li a:hover{
    color: $verdelogo;
    font-size: 20px;
}

.navbarr.sticky .menu li a:hover{
    transition: all 0.5s ease;
    color: $verdelogo;
    text-decoration: underline;
}

/* meno btn */

.menu-btn{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.menu-btn:hover{
    color: $verdelogo;
}

.scroll-up-btn{
    overflow-y: hidden;
    position: fixed;
    height: 35px;
    width: 42px;
    background: $azullogo;
    left: 30px;
    bottom: 10px;
    text-align: center !important;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 25px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}
.scroll-up-btn:hover{
    overflow-y: hidden;
    background: none;
    border: 1px solid $azullogo;
    color: $verdelogo;
}

.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;    
}
/* home section */
.home{
    display: flex;
    background: url("https://pbs.twimg.com/media/DqcKMVZXgAEoXL9?format=jpg&name=large") no-repeat;
    height: 100vh;
    color: #fff;
    min-height: 500px;
}

.home .max-width{
    margin: auto 0 auto 50px;
}

.home .home-conten .text-1{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    font-size: 27px;
}

.home .home-conten .text-2{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-conten .text-3{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    font-size: 40px;
    margin: 5px 0;
}

.home .home-conten .text-3 span{    
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    color: $verdelogo;
    font-weight: 500;
}

/* aboutme start */
section{
   padding: 100px 0;
}

section .tittle{
    overflow-y: hidden;
    position: relative;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

section .tittle::before{
    content: "";
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 190px;
    height: 3px;
    background: #000;
    transform: translateX(-50%);
}

section .tittle::after{
    position: absolute;
    bottom: -7px;
    left: 50%;
    font-size: 20px;
    color: $verdelogo;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}

.about .tittle::after{
    content: "¿Quienes somos?";
}

section .about-conten,
.expe .expe-conten,
.skill .skill-content,
.contact .contact-content{
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-conten .left img{
    height: 300px;
    width: 300px;      
    object-fit: cover;  
    border-radius: 15px;
}

.about .about-conten .right{
    width: 50%;
}

.about .about-conten .right .text{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}

.about .about-conten .right .text span{
    color: $verdelogo;
}

.about .about-conten .right p{
    text-align: justify;
}

.about .about-conten .right a{
    display: inline-block;
    background: $verdelogo;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid $verdelogo;
    transition: all 0.5s ease;
}

.about .about-conten .right a:hover{
    color: $verdelogo;
    background: none;

}
/* cita */
.skill{
    display: flex;
    background-image: url('https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_1600,h_900/https://www.interiorismoconceptual.com/wp-content/uploads/2017/09/clinica_veterinaria_sevilla.jpg');
    height: 100vh;    
    color: $textwhite;
    min-height: 500px;
}
.skill .skill-content .left img{
    height: 400px;
    width: 300px;      
    object-fit: cover;  
    border-radius: 5%;
}

.skill .skill-content .right{
    padding: 25px;
    background: rgba(0, 185, 71, 0.671);
    width: 50%;
}

.skill .skill-content .right .text{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.skill .skill-content .right .text span{
    color: rgb(7, 12, 37);
}

.skill .skill-content .right p{
    text-align: justify;
    color: $azullogo;
}

.skill .skill-content .right a{
    display: inline-block;
    background: rgb(4, 42, 255);
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid rgb(4, 42, 255);
    transition: all 0.5s ease;
}

.skill .skill-content .right a:hover{
    color: rgb(4, 42, 255);
    background: none;

}

/* expe style */

.expe, .work{
    color: #fff;
    background: #000;
}

.expe .tittle::before,
.work .tittle::before{
    background: #fff;
}

.expe .tittle::after,
.work .tittle::after{
    background: #000;
    content: "¿Que ofrecemos?";
}
.expe  a{
    display: inline-block;
    background: $verdelogo;
    color: #fff;
    margin-left: 250px;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid $verdelogo;
    transition: all 0.5s ease;
}

.expe a:hover{
    color: $verdelogo;
    background: none;

}

.expe .expe-conten .card{
    width: calc(33% - 20px);
    background: #222;
    align-items: center;
    border-radius: 10px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.expe .expe-conten .card:hover{
    background: $verdelogo;
}

.expe .expe-conten .card .box{
    transition: all 0.5s ease;
}

.expe .expe-conten .card:hover .box{
    transform: scale(1.05);
}

.expe .expe-conten .card i{
    font-size: 50px;
    color: $verdelogo;
    text-align: center;
    transition: color 0.5s ease;
}

.expe .expe-conten .card:hover i{
    color: #fff;
}

.expe .expe-conten .card .text{
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}



/* contact section styling */
.contact{
    padding: 50px;
    background: $bg;
    color: $textwhite;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: $verdelogo;
}
.contact .contact-content .left p{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    text-align: justify;
    color: $textwhite;
}
.contact .contact-content .left .icons{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    margin: 10px 0;
}
.contact .contact-content .row{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    margin-left: 30px;
}
.contact .contact-content .row i{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    font-size: 25px;
    color: $verdelogo;
}
.contact .contact-content .info .head{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    color: $textwhite;
}
.contact .right form .fields{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    height: 100%;
    width: 100%;
    border: 1px solid $textwhite;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.contact .right form .textarea textarea{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  display: flex;
  align-items: center;
}
.right form .button-area button{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: $verdelogo;
  border: 2px solid $verdelogo;
  transition: all 0.3s ease;
}
.right form .button-area button:hover{
  color: $verdelogo;
  background: none;
}

/* footer */

.pie-pagina{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    width: 100%;
    background-color: $backgroundresponsive;
    animation-name: entradaanim;
}
.pie-pagina .grupo-1 h2{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    color: $verdelogo !important;
}
.pie-pagina .grupo-1{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .box{
    overflow-y: hidden !important;
}
.pie-pagina .grupo-1 .box figure{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    overflow-y: hidden !important;
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    width: 200px;
}
.pie-pagina .grupo-1 .box h2{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    color: $textwhite;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    color: $textwhite;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: $textwhite;
    margin-right: 10px;
    background-color: $bg;
    text-align: center;
    border-radius: 25px;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    color: $verdelogo
}
.pie-pagina .grupo-2{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    background-color: $colorfootermini;
    padding: 15px 10px;
    text-align: center;
    color: $textwhite;
}
.pie-pagina .grupo-2 b{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    font-weight: 500;
}
.pie-pagina .grupo-2 small{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    font-size: 15px;
}


/* responsive style */
@media (max-width: 1300px){ 
    .home .max-width{
        margin-left: 0;
    }
}

@media (max-width: 1104px){ 
    .about .about-conten .left img{
        height: 350px;
        width: 350px;      
    }
}

@media (max-width: 991px){ 
    .max-width{
        padding: 0 50px
    }
}

@media (max-width: 947px){ 
    .menu-btn{
        display: block;
        z-index: 999;
    }
    
    .menu-btn .menus i.active::before{
        content: "\f00d";
    }

    .navbarr .menu{
        position: fixed;
        height: auto;
        width: 100%;
        top: 0;
        right: -100%;
        background: #222;
        border-radius: 0 0  0 20%;
        text-align: center;
        padding-top: 18px;
        transition: all 0.5s ease;
    }

    .navbarr .menu.active{
        right: 0;
    }

    .navbarr .menu li{
        display: block;
    }

    .navbarr .menu li a{
        display: inline-block;
        margin: 10px 0;
        font-size: 15px;
    }

    .home .home-conten .text-2{
        font-size: 70px;
    }
    
    .home .home-conten .text-3{
        font-size: 35px;
    }
    
    .max-width{
        max-width: 800px;
    }

    .about .about-conten .column{
        width: 100%;
    }

    .about .about-conten .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
        img{
            width: 250px;
            height: 250px;
        }
    }

    .about .about-conten .right{
        flex: 100%;
    }

    .expe .expe-conten .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .expe a{
        margin-left: 15px !important;
    }

    .skill .skill-content .column{
        width: 100%;
        margin-bottom: 35px;
    }

    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
    .pie-pagina .box{
        overflow-y: hidden;
    }

}

@media (max-width: 690px){ 
    .max-width{
        padding: 0 23px
    }

    .home .home-conten .text-2{
        font-size: 60px;
    }
    
    .home .home-conten .text-3{
        font-size: 32px;
    }
    .expe .expe-conten .card,
    .skill .skill-content .column{
        width: 100%;
    }
}

@media (max-width: 500px){ 
    .max-width{
        padding: 0 23px
    }

    .home .home-conten .text-2{
        font-size: 50px;
    }
    
    .home .home-conten .text-3{
        font-size: 27px;
    }
}