$azullogo:#0B0C1B;
$verdelogo:#2FAC66;
$textwhite: #fff;
$bg: #040509;
$backgroundresponsive : #222;
$colorfootermini: #333333;

*{
  justify-items: center;
  text-decoration: none !important;
  text-align: center;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1647358628 svg {
        width: calc(161% + 1.3px);
        height: 500px;
    }
}

html{
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* nav style */
.navbarr{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    top: -10px;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
    transition: all 0.5s ease;
}



.navbarr .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarr .logo a{
  color: $azullogo !important;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
    transition: all 0.5s ease;
}
.navbarr .logo a:hover{
    color: $azullogo;
}

.navbarr .logo a span:hover{
    color: $verdelogo;
}

.navbarr.sticky .logo a span:hover{
  color: $textwhite;
}

.navbarr .menu li{
    list-style: none;
    display: inline-block;
}

.navbarr .menu li a{
    display: block;
    color: $azullogo;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    transition: all 0.5s ease;
}

.navbarr .menu li a.sticky{
    margin-top: 15px;
    transition: color 0.3s ease;
    transition: all 0.5s ease;
    color: $textwhite;
}


.navbarr .menu li a:hover{
    color: $verdelogo;
    font-size: 20px;
}


.navbarr.sticky .menu li a :hover{
  color: #fff !important;
}

.navbarr.sticky .menu li a:hover{
    transition: all 0.5s ease;
    color: $textwhite;
    text-decoration: underline;
}
.navbarr.sticky{
  justify-content: center;
  justify-items: center;
    padding: 10px 0;
    background: $verdelogo;
}
/* meno btn */

.menu-btn{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    color: $azullogo;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.menu-btn:hover{
    color: $verdelogo;
}

.scroll-up-btn{
    overflow-y: hidden;
    position: fixed;
    height: 35px;
    width: 42px;
    background: $azullogo;
    left: 30px;
    bottom: 10px;
    text-align: center !important;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 25px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}
.scroll-up-btn:hover{
    overflow-y: hidden;
    background: none;
    border: 1px solid $azullogo;
    color: $verdelogo;
}

.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;    
}
.info-text{
  color: #040509;
}

.personal-text{
  font-size: 35px;
  align-items: center;
  color: #fff;
  justify-content: center;
  justify-items: center;
  span{
    color: #2FAC66;
  }
}
  .personal{
    background: #040509;
    align-items: center;
    justify-content: center;
    .slide-container{
      display: flex;
      max-width: 1120px;
      width: 100%;
      padding: 40px 0;
    }
    .slide-content{
      margin: 0 40px;
      overflow: hidden;
      border-radius: 25px;
    }
    .card{
      border-radius: 25px;
      background-color: #FFF;
    }
    .image-content,
    .card-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 14px;
    }
    .image-content{
      position: relative;
      row-gap: 5px;
      padding: 25px 0;
    }
    .overlay{
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: #2FAC66;
      border-radius: 25px 25px 0 25px;
    }
    .overlay::before,
    .overlay::after{
      content: '';
      position: absolute;
      right: 0;
      bottom: -40px;
      height: 40px;
      width: 40px;
      background-color: #2FAC66;
    }
    .overlay::after{
      border-radius: 0 25px 0 0;
      background-color: #FFF;
    }
    .card-image{
      position: relative;
      height: 150px;
      width: 150px;
      border-radius: 50%;
      background: #FFF;
      padding: 3px;
    }
    .card-image .card-img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
      border: 4px solid #2FAC66;
    }
    .name{
      font-size: 18px;
      font-weight: 500;
      color: #333;
    }
    .description{
      margin-top: 10px;
      font-size: 14px;
      color: #707070;
      text-align: center;
    }
    .button{
      border: none;
      font-size: 16px;
      color: #FFF;
      padding: 8px 16px;
      background-color: #2FAC66;
      border-radius: 6px;
      margin: 14px;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    .button:hover{
      background: #297048;
    }
    
    .swiper-navBtn{
      color: #297048;
      transition: color 0.3s ease;
    }
    .swiper-navBtn:hover{
      color: #2FAC66;
    }
    .swiper-navBtn::before,
    .swiper-navBtn::after{
      font-size: 35px;
    }
    .swiper-button-next{
      right: 0;
    }
    .swiper-button-prev{
      left: 0;
    }
    .swiper-pagination-bullet{
      background-color: #297048;
      opacity: 1;
    }
    .swiper-pagination-bullet-active{
      background-color: #2FAC66;
    }
    
  }


/* aboutme start */
section{
  padding: 100px 0;
}

section .tittle{
   overflow-y: hidden;
   position: relative;
   text-align: center;
   font-size: 50px;
   font-weight: 500;
   margin-bottom: 60px;
   padding-bottom: 20px;
}

section .tittle::before{
   content: "";
   position: absolute;
   bottom: 10px;
   left: 50%;
   width: 190px;
   height: 3px;
   background: #000;
   transform: translateX(-50%);
}

section .tittle::after{
   position: absolute;
   bottom: -7px;
   left: 50%;
   font-size: 20px;
   color: $verdelogo;
   padding: 5px;
   background: #fff;
   transform: translateX(-50%);
}

.about .tittle::after{
   content: "Más sobre nosotros";
}

section .about-conten,
.expe .expe-conten,
.skill .skill-content,
.contact .contact-content{
   display: flex; 
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
}
.about .about-conten .left img{
   height: 300px;
   width: 300px;      
   object-fit: cover;  
   border-radius: 15px;
}

.about .about-conten .right{
   width: 50%;
}

.about .about-conten .right .text{
   font-size: 30px;
   font-weight: 600;
   margin-bottom: 15px;
}

.about .about-conten .right .text span{
   color: $verdelogo;
}

.about .about-conten .right p{
   text-align: justify;
}

.about .about-conten .right a{
   display: inline-block;
   background: $verdelogo;
   color: #fff;
   font-size: 25px;
   font-weight: 500;
   padding: 10px 30px;
   margin-top: 20px;
   border-radius: 10px;
   border: 2px solid $verdelogo;
   transition: all 0.5s ease;
}

.about .about-conten .right a:hover{
   color: $verdelogo;
   background: none;

}

/* footer */

.pie-pagina{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    width: 100%;
    background-color: $backgroundresponsive;
    animation-name: entradaanim;
}
.pie-pagina .grupo-1 h2{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    color: $verdelogo !important;
}
.pie-pagina .grupo-1{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .box{
    overflow-y: hidden !important;
}
.pie-pagina .grupo-1 .box figure{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    overflow-y: hidden !important;
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    width: 200px;
}
.pie-pagina .grupo-1 .box h2{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    color: $textwhite;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    color: $textwhite;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: $textwhite;
    margin-right: 10px;
    background-color: $bg;
    text-align: center;
    border-radius: 25px;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    color: $verdelogo
}
.pie-pagina .grupo-2{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    background-color: $colorfootermini;
    padding: 15px 10px;
    text-align: center;
    color: $textwhite;
}
.pie-pagina .grupo-2 b{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    font-weight: 500;
}
.pie-pagina .grupo-2 small{
    position: relative;
    animation-name: entradaanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    font-size: 15px;
}

/* responsive style */
@media (max-width: 1300px){ 
  .home .max-width{
      margin-left: 0;
  }
}

@media (max-width: 1104px){ 
  .about .about-conten .left img{
      height: 350px;
      width: 350px;      
  }
}

@media (max-width: 991px){ 
  .max-width{
      padding: 0 50px
  }
}

@media (max-width: 947px){ 
  .menu-btn{
      display: block;
      z-index: 999;
  }
  
  .menu-btn  i.active::before{
      content: "\f00d";
  }

  .navbarr .menu{
      position: fixed;
      height: auto;
      width: 100%;
      top: 0;
      right: -100%;
      background: #222;
      border-radius: 0 0  0 20%;
      text-align: center;
      padding-top: 18px;
      transition: all 0.5s ease;
  }

  .navbarr .menu.active{
      right: 0;
  }

  .navbarr .menu li{
      display: block;
  }

  .navbarr .menu li a{
      display: inline-block;
      margin: 10px 0;
      font-size: 15px;
      color: $textwhite;
  }

  .navbarr .menu li a:hover{
    color: $verdelogo !important;
  }

  .home .home-conten .text-2{
      font-size: 70px;
  }
  
  .home .home-conten .text-3{
      font-size: 35px;
  }
  
  .max-width{
      max-width: 800px;
  }

  .about .about-conten .column{
      width: 100%;
  }

  .about .about-conten .left{
      display: flex;
      justify-content: center;
      margin: 0 auto 60px;
      img{
          width: 250px;
          height: 250px;
      }
  }

  .about .about-conten .right{
      flex: 100%;
  }

  .expe .expe-conten .card{
      width: calc(50% - 10px);
      margin-bottom: 20px;
  }

  .expe a{
      margin-left: 15px !important;
  }

  .skill .skill-content .column{
      width: 100%;
      margin-bottom: 35px;
  }

  .contact .contact-content .column{
      width: 100%;
      margin-bottom: 35px;
  }
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
  .pie-pagina .box{
      overflow-y: hidden;
  }

}

@media (max-width: 690px){ 
  .max-width{
      padding: 0 23px
  }

  .home .home-conten .text-2{
      font-size: 60px;
  }
  
  .home .home-conten .text-3{
      font-size: 32px;
  }
  .expe .expe-conten .card,
  .skill .skill-content .column{
      width: 100%;
  }
}

@media (max-width: 500px){ 
  .max-width{
      padding: 0 23px
  }

  .home .home-conten .text-2{
      font-size: 50px;
  }
  
  .home .home-conten .text-3{
      font-size: 27px;
  }
}
  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }
  